@model Zigbee2MqttAssistant.Models.Mqtt.Bridge
@{
    ViewData["Title"] = "Devices";
}

<div class="text-center">
    <h1 class="display-4">Devices</h1>
    @foreach (var device in Model.Devices)
    {
        <div>
            <strong>@device.FriendlyName</strong>
            (@device.ZigbeeId) <br/>>
            @device.Manufacturer @device.Model <br/>
            Link: @device.LinkQuality
            <br/>>

            @foreach (var entity in device.Entities)
            {
                <div>
                    Entity: @entity.EntityId/@entity.Name (@entity.DeviceClass - @entity.Component)
                </div>
            }
        </div>
    }
    
    <p>
        Bridge State: @(Model.Online ? "online" : "offline") <br/>
        Log Level: @Model.LogLevel <br/>
        Join: @(Model.PermitJoin ? "permitted" : "denied")
    </p>
</div>
