@using Humanizer
@model (Zigbee2MqttAssistant.Models.Mqtt.Bridge bridge, Zigbee2MqttAssistant.Models.Settings settings)
@{
    ViewData["Title"] = "Devices";
}

<h1 class="display-4">Devices</h1>

@{
    var bridge = Model.bridge;
    var settings = Model.settings;
}
@if (bridge.PermitJoin)
{
    <span class="badge badge-danger">DEVICES ARE CURRENTLY ALLOWED TO JOIN NETWORK.</span>
}


<table class="table table-striped">
    <thead>
        <tr>
            <th scole="col">Name / Id</th>
            <th scole="col">Components</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var device in bridge.Devices.OrderBy(d => d.FriendlyName))
        {
            <tr>
                <th scope="row">
                    <a asp-action="Device" asp-route-id="@device.FriendlyName"><strong>@device.FriendlyName</strong></a>
                    <br /><code>@device.ZigbeeId</code> @device.Manufacturer

                    @if (!device.Type?.Equals("EndDevice", StringComparison.CurrentCultureIgnoreCase) ?? false)
                    {
                        <span class="badge badge-dark">@device.Type</span>
                    }
                    <br />
                    @if (device.GetUnresponsiveDelay(out var delaySinceLastResponse) == true)
                    {
                        var unseenPeriod = delaySinceLastResponse.Value.Humanize(1);
                        <span class="badge badge-warning">unresponsive s. @unseenPeriod</span>
                    }
                    else if (delaySinceLastResponse.HasValue)
                    {
                        var since = delaySinceLastResponse.Value.Humanize(1);
                        <span class="badge badge-success">@since</span>
                    }
                    @*else if (device.IsAvailable == false)
                    {
                        <span class="badge badge-danger">offline</span>
                    }*@


                    @if (device.LinkQuality.HasValue)
                    {
                        var value = device.LinkQuality.Value;
                        if (value < 5)
                        {
                            <span class="badge badge-danger">very weak link</span>
                        }
                        else if (value < 15)
                        {
                            <span class="badge badge-warning">weak link</span>
                        }
                    }

                    @if (device.BatteryLevel.HasValue)
                    {
                        var value = device.BatteryLevel.Value;
                        if (value <= settings.LowBatteryThreshold)
                        {
                            <span class="badge badge-danger">low battery (@value%)</span>
                        }
                    }
                </th>
                <td>
                    @foreach (var entity in device.Entities.OrderBy(e => e.Component))
                    {
                        <span class="badge badge-dark">@entity.Component</span>
                    }
                    @if (device.Type?.Equals("Coordinator", StringComparison.CurrentCultureIgnoreCase) ?? false)
                    {
                        <span class="badge badge-dark">@device.Type</span>
                    }
                    else if (device.Entities.Length == 0)
                    {
                        <span class="badge badge-danger">NO COMPONENTS</span>
                        <span>Maybe this device is not (yet) supported by Zigbee2Mqtt?</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
