@using System.Reflection
@using Zigbee2MqttAssistant.Models.Mqtt
@using Zigbee2MqttAssistant.Services
@model Zigbee2MqttAssistant.Models.Mqtt.Bridge
@inject ISystemInformation systemInformation
@{
    ViewData["Title"] = "Status";
}

<h1>Status</h1>

<p>
    Bridge State: <code>@(Model.Online ? "online" : "offline")</code>
</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Allow Join</h5>
        @if (Model.PermitJoin)
        {
            <span class="badge badge-danger">DEVICES ARE CURRENTLY ALLOWED TO JOIN NETWORK.</span>
        }
        <form method="post">
            @if (Model.PermitJoin)
            {
                <button class="btn" type="submit" asp-action="AllowJoin" asp-route-permitJoin="false">DENY NEW DEVICES TO JOIN NETWORK</button>
            }
            else
            {
                <button class="btn" type="submit" asp-action="AllowJoin" asp-route-permitJoin="true">ALLOW NEW DEVICES TO JOIN NETWORK</button>
            }
        </form>
        <small class="form-text text-info">
            Use this feature to allow new devices to join the network.<br />
            <strong>This setting won't be persisted when you reboot Zigbee2Mqtt</strong>.
        </small>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Log Level</h5>
        Current Log Level: <code>@Model.LogLevel</code>

        <form method="post">
            <div class="input-group mb-3">
                <select name="level">
                    <option value="debug" selected="@(Model.LogLevel == MqttLogLevel.Debug ? "selected" : null)">Debug Mode</option>
                    <option value="info" selected="@(Model.LogLevel == MqttLogLevel.Info ? "selected" : null)">Information level</option>
                    <option value="warn" selected="@(Model.LogLevel == MqttLogLevel.Warn ? "selected" : null)">Warnings & errors only</option>
                    <option value="error" selected="@(Model.LogLevel == MqttLogLevel.Error ? "selected" : null)">Errors only</option>
                </select>
                <button class="btn" asp-action="SetLogLevel">SET LOG LEVEL</button>
            </div>
        </form>
        <small class="form-text text-info">
            This is the <em>log level</em> you'll see in the Zigbee2Mqtt output log.<br/>
            Unfortunately those logs are not available through MQTT, so not available here yet.<br/>
            (It is considered to use the HASS.IO api to fetch those logs, but nothing is done yet)<br/>
            <strong>This setting won't be persisted when you reboot Zigbee2Mqtt</strong>.
        </small>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Reset Zigbee2Mqtt Assistant</h5>
        <form method="post">
            <button class="btn bg-danger" asp-action="Reset">RESET LOCAL STATE</button>
        </form>
        <small class="form-text text-info">
            Use this to force Zigbee2MqttAssistant (this software) to restart from scratch.<br/>
            Useful if the state is not sync with Zigbee2Mqtt.<br/>
            If you need this, it means there's a bug: please report it!
        </small>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">System Information</h5>
        <div class="form-text text-info">
            Version (this software): <code>@systemInformation.Version</code> (<code>@systemInformation.FullVersion</code>) @systemInformation.BuildType @systemInformation.EnvironmentType<br />
            Operating System / Version: <code>@systemInformation.OsType</code> / <code>@systemInformation.OsVersion</code> / <code>@(systemInformation.OsIs64Bits ? "64 bits" : "32 bits")</code> <br />
            Processor: <code>@systemInformation.ProcessorType</code>, <code>@systemInformation.ProcessorCount</code> cores/threads <br />
            Docker / HASS.IO: <code>@(systemInformation.IsDocker ? "Docker" : "No - standalone")</code> <code>@(systemInformation.IsHassIo ? "+ HASS.IO" : "")</code> <br />
            Version of Zigbee2Mqtt: <code>@systemInformation.Zigbee2MttVersion</code> <br />
            Coordinator version: <code>@systemInformation.CoordinatorVersion</code> <br />
            Coordinator Zigbee Id: <code>@systemInformation.CoordinatorZigbeeId</code> <br />
            Telemetry: <code>@(systemInformation.Telemetry ? "Enabled" : "Disabled")</code>
            (More on telemetry <a href="https://github.com/yllibed/Zigbee2MqttAssistant/blob/master/TELEMETRY.md">here</a>.)
        </div>
    </div>
</div>
